<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <!-- URL to check for updates (should return a JSON with version info) -->
        <add key="UpdateCheckUrl" value="http://example.com/updates/version.json" />
        
        <!-- How often to check for updates (in minutes) -->
        <add key="UpdateCheckIntervalMinutes" value="60" />
        
        <!-- Maximum number of update history records and backups to keep -->
        <add key="MaxUpdateHistoryCount" value="10" />
        
        <!-- Custom directories (comment out to use default locations) -->
        <!--
        <add key="DownloadDirectory" value="C:\ProgramData\AutoUpdatingService\Downloads" />
        <add key="BackupDirectory" value="C:\ProgramData\AutoUpdatingService\Backups" />
        <add key="LogDirectory" value="C:\ProgramData\AutoUpdatingService\Logs" />
        -->
    </appSettings>
    <system.net>
        <connectionManagement>
            <add address="*" maxconnection="10" />
        </connectionManagement>
    </system.net>
</configuration>
